<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="0b2594d5-be6c-44bc-a9d4-d9c6e1fa91f2" name="i3pd.com" alias="i3pd-com" type="Starter" color="" url="https://www.s1.umbraco.io/project/i3pd-com">
  <environment type="live" name="Live" id="4fc326af-5b72-46c0-be7c-191127ffd375">https://i3pd-com.s1.umbraco.io</environment>
</environments>